{{template "public/header" .}}
<body class="password"><div class="form-container"><form action="/pwd" method="POST"><input name="p" class="form-input" type="text" placeholder="請輸入密碼"> <button class="form-button" type="submit">完成</button></form><p style="color:#b0b0b0">Powered by Aizawa</p></div></body>
